@import "tailwindcss";
@config "../../tailwind.config.ts";

@theme {
  --color-primary: #2e7d32;
  --color-primary-light: #e8f5e9;
  --color-primary-dark: #1b5e20;
  --font-sans: var(--font-inter), "ui-sans-serif", "system-ui", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
